.details {
  /* height: 375.63px; */
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 64px auto 0;

}

.detail {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.detail-image {
  width: 140px;
  height: 140px;
  background-color: var(--primary-color);
  border-radius: 100%;
}

.detail-heading {
  color: #5a5a5a;
  font-weight: 400;
  font-size: var(--size-lg);
  margin-bottom: 8px;
  /* margin-top: 8px; */
  line-height: 38.39px;
}

.detail-desc {
  font-size: var(--size-sm);
  margin: 0 12px 16px;
  line-height: 1.5;
  text-align: center;
}

.btn-detail {
  /* width: 122.5px; */
  height: 38px;
  margin-bottom: 38px;
  padding: 6px 12px;
  font-family: var(--primary-font);
  background-color: var(--primary-text-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: var(--size-sm);
  cursor: pointer;
}
.btn-detail:hover{
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}
@media only screen and (max-width: 768px) {
  .details{ 
    display: block;
  }
  .detail-heading {
    font-size: calc(1.325rem + .9vw);
  }
}