.featurette {
    display: flex;
    gap: 24px;
}

.featurette.reverse {
    flex-direction: row-reverse;
}

.featurette-image-wrap {
    flex: 1;
}

.featurette-image {
    box-sizing: border-box;
    margin-right: 26px;
    padding-bottom: 12px;
}
.featurette-image text {
    font-size: 56px;
    text-anchor: middle;
    color: #5a5a5a;
    
}


.featurette-info {
    margin-top: 112px;
}

.featurette-heading {
    font-size: var(--size-2xl);
    line-height: 1;
    color: #5a5a5a;
    margin-bottom: 8px;
    letter-spacing: -.05rem;

}

.featurette-subheading {
    color: #6C757D;
}
.featurette-desc {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #5a5a5a;
    margin-bottom: 16px;
}

@media only screen and (max-width: 768px) {
    .featurette {
        display: block;
    }
    .featurette-image {
        width: 100%;
        height: auto;
        margin-right: -12px;
    }
    .featurette-heading {
        font-size: calc(1.325rem + .9vw);
    }
    .featurette-image text {
        font-size: 1.125rem;
    }
}